<%- include('header') %>

    <body >
        <div class="container">
            <div class="card-wrap">

                <div class="card border-0 shadow card--register is-show" id="register">
                    <div class="card-body">
                        <h2 class="card-title">註冊</h2>
                        <div class="alert alert-danger" role="alert" id="alert" style="display:none ;">
                            This is a danger alert—check it out!
                        </div>
                        
                        <div type="hidden"  name="nameVal" id="nameVal" style="display:none ;"><%=nameVal%></div>
                        <div type="hidden"  name="mailVal" id="mailVal" style="display:none ;"><%=mailVal%></div>
                        
                        <form id="registerForm">
                            <% if(!show) { %>
                                <div class="form-group">
                                    <div>權限</div>
                                    <select id="AuthoritySelect">                                             
                                        <option value="0">Visiter</option>
                                        <option value="1">User</option>
                                        <option value="2">Admin</option>
                                    </select> 
                                </div>
                            <% }  %>                       
                            
                            <div class="form-group">
                                <div>使用者名稱</div>
                                <% if(show) { %>
                                    <input class="form-control" type='text' name="username"  value="<%=nameVal%>" required="required">
                                <% } else { %>
                                    <input class="form-control" type='text' name="username" placeholder="" required="required">
                                <%} %>
                                
                            </div>
                            
                            <div class="form-group">
                                <div>年齡</div>
                                <input class="form-control" type='number' name="age" placeholder="" required="required">
                            </div>
                            <div class="form-group">
                                <div>帳號信箱</div>
                                <% if(show) { %>
                                    <input class="form-control" type='email' name="email"  value="<%=mailVal%>" required="required">
                                <% } else { %>
                                    <input class="form-control" type="email" name="mail" id="mail" placeholder="" required="required">
                                <%} %>
                                
                            </div>
                            <div class="form-group">
                                <div>密碼</div>
                                <input class="form-control" type="password" name="password" placeholder="" required="required">
                            </div>
                            <div class="form-group">
                                <div>密碼確認</div>
                                <input class="form-control" type="password" name="password2" placeholder="" required="required">
                            </div>
                            
                            <div><input type="submit" class="btn btn-lg m-1 p-0" id="registerBtn" value="註冊"></div>
                            
                        </form>
                    </div>
                    <!-- <button class="btn btn-back js-btn" data-target="welcome"><i class="fas fa-angle-left"></i></button> -->
                </div>
            </div>
        </div>

         <!-- <script  src="js/register.js"></script> -->
        <!-- <script type="module" src="/js/user.js"></script> -->
        <script type="module"  src="/js/user.js"></script>
        <script > 
           
        </script>
    </body>
    <%- include('footer') %>