
<%- include('header') %>
<script src="/js/singleUser.js"></script>

<body>
  <div class="container">
    <div id="wrapper">
      <%- include('navbar') %>
      <%- include('sidebar') %>
      <h2>userName:
        <%= name %></h2>
    </div>
    
  </div>
</body>

<%- include('footer') %>