
<%- include('header') %>
<script src="/js/singleUser.js"></script>

<body>
  <div class="container">
    <div id="wrapper">
      <%- include('navbar') %>
      <%- include('sidebar') %>
      
    </div>
    <div>userName:
      <%= name %></div>
  </div>
</body>

<%- include('footer') %>